:root {
  --primary-dark: #333;
  --primary-light: #ededed;
  --secondary-light: #fefefe;
}

body {
  background-color: var(--primary-light);
  color: var(primary-dark);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: inherit;
}

