* {
  border: 1px dotted red;
}
:root {
  --primary-dark: #333;
  --primary-light: #ededed;
  --secondary-light: #fefefe;
}

body {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: var(--primary-dark);
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.user-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.user-options button {
  color: inherit;
  font-weight: 550;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--primary-dark);
  transition:ease-in-out 40ms;
}

.user-options .toggled{
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.user-options button:hover {
  transform: scale(1.1);
}

#sketch-container {
  /* Because of grid, no need to set a width or height for each tile */
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
  /* TODO: customize box shadow */
  box-shadow: 1px 1px;
}

.tile {
  background-color: var(--secondary-light);
  /* border: 1px dotted black; */
}

