* {
  border: 1px dotted red;
}
:root {
  --primary-dark: #333;
  --primary-light: #ededed;
  --secondary-light: #fefefe;
}

body {
  background-color: var(--primary-light);
  color: var(primary-dark);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  color: inherit;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.main {
  display: flex;
  justify-content: center;
}

#sketch-container {
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
}

